.container {
  display: flex;
}

.container > div {
  flex: 1 0 auto;
  padding: 10px;
  border: 5px solid;
}

.container > div:first-child {
  border-color: green;
}

.container > div:last-child {
  border-color: tomato;
}

.state-container {
  background-color: linen;
}

.props-container {
  background-color: aliceblue;
}
